In [1]:
import pandas as pd
import numpy as np

In [2]:
file = pd.read_csv('/home/TE/Documents/31141/Assignment 3/income.csv')

In [3]:
df = pd.DataFrame(file)

In [4]:
df.shape

(1999, 5)

In [5]:
df.size

9995

In [6]:
df.info

<bound method DataFrame.info of       Age  Gender  Education Number  Workclass  Income
0      25    Male                 7    Private  480332
1      38    Male                 9    Private  198235
2      28    Male                12  Local-gov   82785
3      44    Male                10    Private  107589
4      18  Female                10    Unknown  189322
...   ...     ...               ...        ...     ...
1994   44  Female                13    Private  270685
1995   35    Male                13    Private  186547
1996   27    Male                 9    Private  454429
1997   36    Male                13  Local-gov   95040
1998   42    Male                10  State-gov   71942

[1999 rows x 5 columns]>

In [7]:
df.describe()

               Age  Education Number        Income
count  1999.000000       1999.000000  1.999000e+03
mean     38.566283         10.033517  2.070535e+05
std      13.698691          2.671425  3.258124e+05
min      17.000000          1.000000  1.469100e+04
25%      27.000000          9.000000  9.745200e+04
50%      37.000000         10.000000  1.403120e+05
75%      48.000000         13.000000  2.188615e+05
max      90.000000         16.000000  1.163936e+07

In [8]:
mean = df['Income'].mean()
print("Mean Income: ", mean)

Mean Income:  207053.54827413708

In [9]:
median = df['Income'].median()
print("Median Income: ", median)

Median Income:  140312.0

In [10]:
mode = df['Income'].mode()
print("Mode Income: ", mode)

Mode Income:  0      47686
1      69835
2      71260
3      72120
4      82639
5      91722
6      96612
7     111495
8     111570
9     113852
10    116360
11    120090
12    141277
13    143785
14    166080
Name: Income, dtype: int64

In [11]:
minimum = df['Income'].min()
print("Minimum Income: ", minimum)

Minimum Income:  14691

In [12]:
maximum = df['Income'].max()
print("Maximum Income: ", maximum)

Maximum Income:  11639365

In [13]:
mean_by_education = df.groupby('Education Number')['Income'].mean()
print("Mean by Education Level:", mean_by_education)

Mean by Education Level: Education Number
1     188628.666667
2     263830.400000
3     176817.280000
4     183855.355556
5     305868.515152
6     179390.090909
7     189406.441860
8     238758.187500
9     225586.230769
10    205112.707483
11    214950.644737
12    209369.357143
13    195278.107558
14    176751.135135
15    139989.800000
16    176696.760000
Name: Income, dtype: float64

In [14]:
min_by_education = df.groupby('Education Number')['Income'].min()
max_by_education = df.groupby('Education Number')['Income'].max()
print(min_by_education, max_by_education)

Education Number
1     116219
2      46188
3      46709
4      40649
5      31345
6      30294
7      34935
8      39732
9      20688
10     23253
11     28275
12     25481
13     23973
14     14691
15     41138
16     30292
Name: Income, dtype: int64 Education Number
1       296776
2       660738
3       820441
4      1107119
5      1935306
6      1114504
7      1796730
8       700542
9     11639365
10     1724760
11     1046834
12     1728465
13     1606308
14      808197
15      447170
16      741308
Name: Income, dtype: int64